[submodule "Modules/Delivery"]
	path = Modules/Delivery
	url = https://github.com/pico-inno/Delivery.git
[submodule "Modules/Ecommerce"]
	path = Modules/Ecommerce
	url = https://github.com/pico-inno/Ecommerce.git
