[submodule "Modules/Games"]
	path = Modules/Games
	url = https://github.com/pico-inno/Games.git
[submodule "Modules/FieldService"]
	path = Modules/FieldService
	url = https://github.com/pico-inno/Field-Services.git
